.lightbox-gallery {

}

.lightbox-gallery .lightbox-gallery-image-container {
	float:		left;
	min-width: 184px !important;
}

.lightbox-gallery .lightbox-gallery-image-frame {
	display:	block;
	margin:		10px 5px;
	text-align:	center;
	transition: all ease-out 1s;
}

.lightbox-gallery .lightbox-gallery-image-container .lightbox-gallery-image-frame:hover {
	text-decoration:none;
}

.lightbox-gallery .lightbox-gallery-image-thumbnail {
	border: solid 3px #fff;
	outline: solid 1px #ccc;
	display:	block;
	margin:		5px auto 5px;
	vertical-align:	middle;
        width:         100%;
}

.lightbox-gallery .lightbox-gallery-image-thumbnail:hover {
	box-shadow: 0px 0px 10px #ccc;
}

.lightbox-gallery .lightbox-gallery-image-caption,
.lightbox-gallery .lightbox-gallery-image-extinfo {
	font-weight: normal;
	font-size:	16px;
	margin:	3px;
	text-decoration:none;
}

.lightbox-gallery .lightbox-gallery-image-caption {
    font-weight: bold;
    word-wrap: break-word;
}

.lightbox-gallery .lightbox-gallery-image-caption.top {
    margin-bottom: -3px;
}





#mod-lightboxgallery-view .generalbox,
#mod-lightboxgallery-search .generalbox {
  overflow: auto;
}

#mod-lightboxgallery-view .thumb,
#mod-lightboxgallery-search .thumb {
  position: relative;
  z-index: 5;
  border: 1px solid #ccc;
  background-color: #fff;
  float: left;
  text-align: center;
  margin: 2px;
  padding: 3px;
}

#mod-lightboxgallery-view .thumb .image,
#mod-lightboxgallery-search .thumb .image {
  position: relative;
  z-index: 10;
  border: 1px solid #ccc;
  background-color: #000;
  height: 105px;
  width: 120px;
  margin-bottom: 2px;
}

#mod-lightboxgallery-view .thumb .overlay img,
#mod-lightboxgallery-search .thumb .overlay img {
  border: 0;
}

#mod-lightboxgallery-view .lightbox-edit-select {
  margin: 4px;
}

#mod-lightboxgallery-imageedit .generaltable img,
#mod-lightboxgallery-imageadd .generaltable img {
  border: 1px solid #ddd;
}

#mod-lightboxgallery-imageedit .menubar {
  margin-top: 14px;
  text-align: center;
}

#mod-lightboxgallery-imageedit .tag-head {
  border-bottom: 1px solid #ddd;
  background-color: #f9fafa;
  display: block;
  padding: 2px 0;
  margin: 3px 1px;
}

#mod-lightboxgallery-imageedit .tag-exists {
  color: #aaa;
  text-decoration: line-through;
}

#mod-lightboxgallery-imageedit .tag-exists input {
  display: none;
}

#mod-lightboxgallery-imageadd #messages {
  margin: 0 6px 0 12px;
  padding: 0;
}

#mod-lightboxgallery-search .generalbox {
   margin-bottom: 10px;
}
